body{margin: 0;background-color: #18810f;color: #fff; font-family: 'Montserrat', sans-serif;}
header{background-color: #000; color: yellowgreen; margin: 0; padding: 1rem; text-align: center; font-size: 2rem; font-family: 'Eater', cursive;}
form>label{display: block; font-size: 1.5rem; margin: 1rem 0 .25rem;}
fieldset{font-size: 1.5rem; margin: 1rem 0 .25rem; border: 3px solid yellowgreen; border-radius: .25rem;}
form{background-color: rgba(0, 0, 0, 90); padding: 1rem 2rem; width: 50rem; max-width:calc(90% - 4rem); margin: 1rem auto;}
/*The selectors on line 7, 9, 11, 13, 15, 17, 19, and 21 aren't correct. You want to set them up like: input[type=text], input[type=email], etc... When using focus you will need to do input:focus[type=text], input:focus[type=email], etc...*/
#text,#email,#date,#number,#color{
    font-size: 1.25rem; width: calc(100% - 1rem); border: 3px solid yellowgreen; padding: .5rem; border-radius: .25rem;}
#color{
    width: 4rem; height: 4rem; border-radius: 2rem;}
#text,#email,#date,#number,#color:focus{
    background-color: black; color: white; outline: none;}
#reset,#submit{
    font-family: 'Eater',cursive; font-size: 1.5rem; padding: 1rem; border-radius: 2rem; border: 3px solid yellowgreen; margin: 1rem 2rem 0 0;}
#submit{
    background-color: yellowgreen;}
#reset{
    background-color: black; color: yellowgreen;}
#submit:hover{
    background-color: black; color: yellowgreen;}
#reset:hover{
    color: black; background-color: red; border-color: red;}
body{background-image: url(images/eyeballs.svg); background-size: 20%;}
